@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800&family=Yuji+Syuku&display=swap');

:root{
  --bg-color:#f8f5f2;
  --first-color: hsla(180, 88%, 27%, 0.85);
  --first-color-dark: hsla(180, 88%, 27%, 1);
  --first-color-second: #f45d48;
  --title-color: #232323;
  --text-color: #222525;
  --text-color-light: #fffffe;
  --stoke-color:#232323;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Cinzel', -apple-system, BlinkMacSystemFont, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-size: 1.2rem;
}

small{
  font-size: 0.8rem;
}

.container{
  margin: 0 auto; /* centerise */
  max-width: 960px;
  padding: 2rem;
}

.title{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.form{
  display: grid;
}

.label{
  font-size: 1.3rem;
  margin-bottom: .3rem;
}

.input{
  padding: .5rem .5rem;
  line-height: 2.8rem;
  font-size: 1rem;
  border-radius: 10px;
  border:1px solid var(--stoke-color);
  margin-bottom: 1rem;
}

.button{
  background-color: var(--first-color);
  color: var(--text-color-light);
  line-height: 2.8rem;
  padding: .5rem 2rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border:1px solid var(--first-color);
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover{
  background-color: var(--first-color-dark);
}

.card{
  padding:2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px var(--stoke-color);
  margin: 1rem  0 1.5rem;
  background-color: var(--text-color-light);
}

.card--title{
  margin: .5rem 0 .2rem;
}

.card--img{
  margin: 0 auto;
  display: block;
}

.card--description{
  font-family: 'Times New Roman', Times, serif;
}
 
@media (min-width:786px){
  .form{
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .input{
    margin-bottom: 0;
  }
}